// Light
$color_white: #FFFFFF;
$color_side_menu: #081A51;
$color_background: #F8F9FF;
$color_background_notification: #e5e5e58a;
$color_text_icon: #CCD2E3;
$color_black_text: #19181A;
$color_active_item: #1B2B65;
$color_text_header_table: #606F89;
$color_text_body_table: #2E3B52;

// Dark


$width_side_menu: 160px;
$height_top_menu: 50px;